<%- include('../layouts/header') %>
<%- include('../layouts/leftmenu') %>
<style src="css/responsive.dataTables.min.css"></style>
<%- include('./main') %>
  <div class="main-content-container container-fluid px-4 mb-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">All Member List</h3>
      </div>
      
    </div>
    <div class="col-md-12 text-right">
      <a href="/admin/downloadAll" class="btn btn-success mb-2">CSV Download All</a>
    </div>
    <!-- End Page Header -->
    <!-- Transaction History Table -->
  


    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
      <!-- Button trigger modal -->
      <table class="transaction-history d-none dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1152px;">
      <thead>
        <tr role="row">
          <th class="sorting_asc">#</th>
          <th class="sorting">Full Name</th>
          <th class="sorting" >Mobile</th>
          <th class="sorting" >District</th>
          <th class="sorting">Payment Status</th>
          <th class="sorting">Trans Date</th>
          <th class="sorting">Amount</th>
          <% if(usrType === 'admin') {%>
          <th class="sorting">Actions</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% if(data.length > 0) {
          
          let i =1;
          data.forEach(function (row){ 
            var date = '';
            if(row.trans_date.toString().length > 0){
              var dt = row.trans_date.toString();
            dt = dt.substring(0, dt.length - 10);
              
            var dateObject = new Date(dt); 
             date = new Date(dateObject).toLocaleDateString();
            }else{
              date = 'N/A';
            }
            
        %>
          <tr role="row" class="odd">
            <td tabindex="0" class="sorting_1"><%= i %></td>
            <!-- <td>October 31st 2017 <span class="text-sm">02:10 PM</span> -->
            <td><%= row.f_name+' '+row.m_name+' '+row.l_name %></td>
            <td><%= row.mobile %></td>
            <td><%= (((row.city.toString()).length>0) ? row.city : 'N/A'); %></td>
            
            <td class="<%= ((row.payment_status != 'no') ? 'text-success' : 'text-danger'); %>" >
              <%= ((row.payment_status != 'paid')? 'Pending' : 'Success'); %>
            </td>
            <!-- <td><%= ((row.user_type.toUpperCase() === 'agent') ? 'Feild Agent' : row.user_type.toUpperCase()); %></td> -->
            <td>
              <span class="<%= (((row.trans_date.toString()).length>0) ? 'text-success' : 'text-info') %>"><%= date; %></span>
            </td>
            <td>
              <span class="<%= (((row.trans_date.toString()).length>0) ? 'text-success' : 'text-info') %>"><%= row.total_amount; %></span>
            </td>
            <% if(usrType === 'admin') {%>
            <td>
              <div class="btn-group d-table ml-auto" role="group">
                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#usr<%= row.mobile %>">Change</button>
                <a class="btn btn-white" href="/admin/member-edit/<%=row._id %>">Edit /<small>View</small></a>
                </button>
                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#del<%=row._id %>">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </td>
          <% } %>
          </tr>
           <!-- Modal Change Member type-->
        <div class="modal fade" id="usr<%= row.mobile %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Member Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form name="frm" action="/admin/memberTypeUpdate" method="POST">
                <div class="modal-body">
                  <div class="col">
                      <div class="form-row text-center">
                        <div class="form-group col-md-11">
                          <select id="" name="member_type" class="form-control">
                            <option value="bc" <%= ((row.user_type.toUpperCase() === 'BC')? 'selected' : ''); %> >MS</option>
                            <option value="agent" <%= ((row.user_type.toUpperCase() === 'AGENT')? 'selected' : ''); %>>Field Executive</option>
                            <option value="ews" <%= ((row.user_type.toUpperCase() === 'EWS')? 'selected' : ''); %>>EWS</option>
                          </select>
                        </div>
                      </div>
                      <input type="hidden" value="<%= row._id; %>" name="_id">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Save changes">
                </div>
              
              </form>
            </div>

          </div>
        </div>

        <!-- ----------------------------- END --------------------   -->

          <!-- Modal Delete Member type-->
          <div class="modal fade" id="del<%=row._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Member</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/admin/memberDelete" method="POST" name="ffrm">
                  <div class="modal-body">
                    <span class="text-sm">Please enter <label class="text-warning">delete</label> in the text box for delete the member.</span>
                    <div class="form-row mt-3">
                      <div class="form-group col-md-11">
                        <input type="text" class="form-control col-sm-5 conf_val_<%= row.mobile; %>" name="conf_val" placeholder="Enter delete text." maxlength="6">
                        <span class="text-danger conf_error_<%= row.mobile; %>"></span>
                    </div>
                    </div>
                    <input type="hidden" value="<%= row._id; %>" name="_id">
                  </div>
    
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary delsubmoit" onclick='console.log($("#del<%=row._id %>").find("form").first().submit());' alt="<%= row.mobile; %>" value="Save changes">
                  </div>
  
                </form>
              </div>
  
            </div>
          </div>         

        <% i++; }); }  %>
      </tbody>
      </table>
  </div>
    <!-- End Transaction History Table -->
  </div>

</main>
<script>
$(document).ready(function() {
  $(".delsubmoit").click(function (e) {
    e.preventDefault();
    var mobile = $(this).attr('alt');
    var confText = $(".conf_val_"+mobile).val();
    if(confText != 'delete'){
      $(".conf_error_"+mobile).html('Please enter correct text.');
    }
  });
});

</script>
<%- include('../layouts/footer') %> 